<div style="margin: 100px">

    <div>
        <button mat-button>Basic </button>
        <button mat-button color="primary">primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warm"> Warn </button>
        <button mat-button diasbled> Disabled</button>
        <a href="https://www.google.com/" mat-button>Link </a>
    </div>
    <mat-divider> </mat-divider>
    <div>
        <button mat-raised-button>Basic </button>
        <button mat-raised-button="primary">primary</button>
        <button mat-raised-button="accent">Accent</button>
        <button mat-raised-button="warm"> Warn </button>
        <button mat-raised-button> Disabled</button>
        <a href="https://www.google.com/" mat-button>Link </a>
    </div>


    <div>
        <button mat-storked-button>Basic </button>
        <button mat-storked-button="primary">primary</button>
        <button mat-storked-button="accent">Accent</button>
        <button mat-storked-button="warm"> Warn </button>
        <button mat-storked-button> Disabled</button>
        <a href="https://www.google.com/" mat-button>Link </a>
    </div>

    <div>
        <button mat-flat-button>Basic </button>
        <button mat-flat-button="primary">primary</button>
        <button mat-flat-button="accent">Accent</button>
        <button mat-flat-button="warm"> Warn </button>
        <button mat-flat-button> Disabled</button>
        <a href="https://www.google.com/" mat-button>Link </a>
    </div>


    <div>
        <button mat-icon-button>
            <mat-icon> more_vert</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon> home</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon> menu</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon> favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon> open_in_new</mat-icon>
        </button>
    </div>
</div>